ENERGYDESK_TOKEN=
ENERGYDESK_URL=https://demo-api.energydesk.no

# Source EnergyDesk instance to pull market data from
ENERGYDESK_SOURCE_URL=https://demo-api.energydesk.no
ENERGYDESK_SOURCE_TOKEN=

EXTRA_TRADERS=warrenbuffet@gmail.com, donaldtrump@gmail.com, nickleeson@gmail.com
EXTRA_TRADERS=riskmaster@gmail.com

